@import '~antd/dist/antd.css';

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer; 
  text-decoration: none; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #000;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
